<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客发布</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
  <Link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>
<body>



<DIV>
  <IMG src="image/logo.gif">
</DIV>
<!--      用户信息、登录、注册        -->

<br>
<DIV class="h">
  您尚未　<a href="login.jsp">登录</a>
  &nbsp;| &nbsp; <A href="reg.jsp">注册</A> |
</DIV>

  <!--导航-->

  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/admin/blogs/input}" class="teal active item">发布</a>
        <a href="#" th:href="@{/admin/blogs}" class="item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">
      <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">
        <input type="hidden" name="published" th:value="*{published}">
        <input type="hidden" name="id" th:value="*{id}">
        <div class="required field">
          <div class="ui left labeled input">
            <div class="ui selection compact teal basic dropdown label">
              <input type="hidden" value="原创" name="flag" th:value="*{flag}" >
              <i class="dropdown icon"></i>
              <div class="text">原创</div>
              <div class="menu">
                <div class="item" data-value="原创">原创</div>
                <div class="item" data-value="转载">转载</div>
                <div class="item" data-value="翻译">翻译</div>
              </div>
            </div>
            <input type="text" v-model="title" name="title" placeholder="标题" >
          </div>
        </div>

        <div class="required field">
          <div id="md-content" style="z-index: 1 !important;">
            <textarea placeholder="博客内容" v-model="content" name="content" style="display: none" th:text="*{content}"></textarea>
          </div>
        </div>

        <div class="two fields">
          <div class="required field">
            <div class="ui left labeled action input" style="width: 865px">
              <label class="ui compact teal basic label">分类</label>
              <div class="ui fluid selection dropdown">
                <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu">
                  <div class="item" data-value=".net版块">.net版块</div>
                  <div class="item" data-value="java版块">java版块</div>
                  <div class="item" data-value="数据库版块">数据库版块</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="required field">
          <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
        </div>
        <div class="ui error message"></div>
        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button type="button" @click="push()" id="publish-btn" class="ui teal button">发布</button>
        </div>
      </form>
    </div>
  </div>
<script>
  var vm = new Vue({
    el: '#blog-form',  //定位到某个标签区域
    data: {
      topicid:1,
      title:"",
      content:"",
      uid:1,
      boardid:1
    },
    mounted() {
      //mounted:在模板渲染成html后调用，通常是初始化页面完成后，再对html的dom节点进行一些需要的操作。
      this.dataListFn(1);	//默认为第一页
    },
    methods: {  //相当于js中定义函数
        push(){

            axios({
              url:"product.do?os=login",
              params:{
                username:this.username,
                password:this.password,
                vcode:this.vcode
              }
            }).then(res=>{
              alert(res.data);
              if(res.data=='登录成功'){
                location.href="index.html";
              }
            })
          }

    }


  });
</script>

  <br>
  <br>








  <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->


  <script>

    //初始化Markdown编辑器
    var contentEditor;
    $(function() {
      contentEditor = editormd("md-content", {
        width   : "100%",
        height  : 640,
        syncScrolling : "single",
//        path    : "../static/lib/editormd/lib/"
        path    : "/lib/editormd/lib/"
      });
    });
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });





    $('.ui.form').form({
      fields : {
        title : {
          identifier: 'title',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客标题'
          }]
        },
        content : {
          identifier: 'content',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客内容'
          }]
        },
        typeId : {
          identifier: 'type.id',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客分类'
          }]
        },
        firstPicture : {
          identifier: 'firstPicture',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客首图'
          }]
        },
        description : {
          identifier: 'description',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客描述'
          }]
        }
      }
    });

  </script>
<!--      声明        -->
<BR>
<CENTER class="gray">源辰信息</CENTER>


</body>
</html>